<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Cambio de imagen de perfil</h6>

        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )" class="form p-t-20">
          <div class="form-group">
            <label>Nombre de usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control"
                     placeholder="Nombre de usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label>Correo de usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email"
                     class="form-control" placeholder="Correo del usuario" required>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>

      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Imagen del usuario</h4>
        <h6 class="card-subtitle">nombre del usuario</h6>

        <img  *ngIf="!imagenTemp" [src]="usuario.img | imagen" style="width: 250px">
        <img *ngIf="imagenTemp" [src]="imagenTemp" (change)="imagenTemp" style="width: 250px">

        <div class="form-group">
          <label>Imagen Perfil</label>
          <input (change)="seleccionImage($event.target.files[0])" class="form-control" type="file" name="img" id="">
        </div>
        <br>
        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit"
                class="btn btn-success btn-block waves-effect waves-light m-r-10">
          <i class="fa fa-upload"></i>
          Actualizar
        </button>

      </div>
    </div>
  </div>
</div>
